---
import Nav from "../components/Nav.astro";
---

<html lang="en" class="h-full bg-stone-900 dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/kabelsalat/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>learn kabelsalat</title>
  </head>
  <body class="h-full">
    <main class="m-auto max-w-2xl">
      <nav
        class="h-16 flex items-center justify-between sticky top-0 z-50 bg-stone-900"
      >
        <marquee class="text-teal-100 w-32 font-bold">
          KABƎL.SALAT.KABƎL.SALAT.KABƎL.SALAT.KABƎL.SALAT.KABƎL.SALAT
        </marquee>
        <Nav />
        <!-- <a class="text-teal-500" href="/kabelsalat/">go to REPL</a> -->
      </nav>
      <article class="py-8 prose prose-invert">
        <!-- </nav> -->
        <slot />
      </article>
    </main>
    <script>
      const navs = document.querySelectorAll(".nav-select");
      navs.forEach((nav) => {
        console.log("nav", nav);
        nav.addEventListener("change", (e: any) => {
          console.log("change", e.target.value);
          window.location.href = e.target.value;
        });
      });
    </script>
  </body>
</html>
