<html lang="en" class="h-full bg-stone-900 dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/kabelsalat/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>learn kabelsalat</title>
  </head>
  <body class="h-full">
    <a class="fixed right-4 top-2 text-teal-500" href="/kabelsalat/"
      >go to REPL</a
    >
    <main class="prose prose-invert py-8 m-auto"><slot /></main>
  </body>
</html>
