---
import Nav from "../components/Nav.astro";
---

<html lang="en" class="h-full bg-stone-900 dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>learn kabelsalat</title>
  </head>
  <body class="h-full flex flex-col overflow-hidden">
    <nav class="w-full grow-0 z-50 bg-stone-900 border-b border-stone-800">
      <div
        class="h-12 grid grid-cols-2 items-center justify-between m-auto max-w-2xl px-4"
      >
        <a
          href="/"
          class={`font-bold font-mono text-xl hover:opacity-50
    bg-gradient-to-r from-teal-400 to-fuchsia-300 inline-block text-transparent bg-clip-text
    `}
        >
          🔌 kabelsalat
        </a>
        <Nav />
        <!-- <a class="text-teal-500" href="/">go to REPL</a> -->
      </div>
    </nav>
    <div class="grow overflow-auto">
      <main class="m-auto max-w-2xl px-4">
        <article
          class="py-8 prose prose-invert prose-stone prose-headings:text-teal-100 font-mono"
        >
          <!-- </nav> -->
          <slot />
        </article>
      </main>
    </div>
    <script>
      const navs = document.querySelectorAll(".nav-select");
      navs.forEach((nav) => {
        nav.addEventListener("change", (e: any) => {
          window.location.href = e.target.value;
        });
      });
    </script>
  </body>
</html>
