---
import Nav from "../components/Nav.astro";
---

<html lang="en" class="h-full bg-stone-900 dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/kabelsalat/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>learn kabelsalat</title>
  </head>
  <body class="h-full">
    <nav class="fixed w-full top-0 z-50 bg-stone-900 border-b border-stone-800">
      <div
        class="h-12 grid grid-cols-2 items-center justify-between m-auto max-w-2xl px-4"
      >
        <a
          href="/kabelsalat/"
          class={`font-bold font-mono text-xl hover:opacity-50
    bg-gradient-to-r from-teal-400 to-fuchsia-300 inline-block text-transparent bg-clip-text
    `}
        >
          🔌 KABƎLSALAT
        </a>
        <Nav />
        <!-- <a class="text-teal-500" href="/kabelsalat/">go to REPL</a> -->
      </div>
    </nav>
    <main class="m-auto max-w-2xl pt-16 px-4">
      <article
        class="py-8 prose prose-invert prose-stone prose-headings:text-teal-100 font-mono"
      >
        <!-- </nav> -->
        <slot />
      </article>
    </main>
    <script>
      const navs = document.querySelectorAll(".nav-select");
      navs.forEach((nav) => {
        console.log("nav", nav);
        nav.addEventListener("change", (e: any) => {
          console.log("change", e.target.value);
          window.location.href = e.target.value;
        });
      });
    </script>
  </body>
</html>
